social media.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [448, 0],
      "id": "91fb9613-71ce-4bee-9e27-5a739e608225",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [464, 224],
      "id": "2b5e78b9-00c0-4efb-aae2-80842a2d8915",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"post\":{\n        \"type\":\"string\"\n      },\n      \"imagePrompt\":{\n        \"type\":\"string\"\n      }\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [592, 224],
      "id": "4eadee3c-bea7-4993-8ca4-02f81e6cd486",
      "name": "Structured Output Parser",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afa407b-e7e2-465b-bde2-b7273a09e92e",
              "name": "prompt",
              "value": "=I want to create a facebook and instagram post of my Online toy store product,{{ $json.url }}. generate a 1 amazing post description for my social media and prompt for the image of the product",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 0],
      "id": "a8f78b65-068a-42e8-a21a-9d0e49f7d1e2",
      "name": "Prompt Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f5a88e-068e-44ae-ae28-db2c6215dbf0",
              "name": "post",
              "value": "={{ $('AI Agent').item.json.output.post }}",
              "type": "string"
            },
            {
              "id": "05afa3f7-c9fd-471b-a7ea-36fa276c9958",
              "name": "image",
              "value": "={{ $('Generate an image').item.binary.data }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1008, 0],
      "id": "7f588725-3f8e-4ae7-9159-6bf0a7ca04ce",
      "name": "Result",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "formTitle": "Social Media Post",
        "formFields": {
          "values": [
            {
              "fieldName": "url",
              "fieldLabel": "Product URL",
              "placeholder": "Product URL",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [0, 0],
      "id": "16925062-a49e-4911-b33d-8d4d13f81886",
      "name": "On form submission",
      "webhookId": "d00622d9-1853-4835-bf07-b2feb0a7c0ff"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json.output.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [800, 0],
      "id": "90c30a6c-d215-4efa-a594-9b1cabaa1758",
      "name": "Generate an image"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "=Your Social media post for {{ $('On form submission').item.json.url }} is ready.",
        "completionMessage": "={{ $json.post }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [1216, 0],
      "id": "f5e1c4d0-6bf5-41ad-b28b-04beafcad3c9",
      "name": "Form",
      "webhookId": "d843607d-ed1d-4f79-bc68-f63091492792"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Command": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Prompt Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3a1f94ce145a6e9316d50b9e6906084d4dea97eea1f4165778ee2e928317470b"
  }
}
