workflows/gf-optimize-content-z1J1avgA0DLJd8MLsLdep.json
{
  "updatedAt": "2026-01-19T08:44:57.670Z",
  "createdAt": "2026-01-19T07:50:31.628Z",
  "id": "z1J1avgA0DLJd8MLsLdep",
  "name": "GF - Optimize Content",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $('On form submission').item.json['Number of Products'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -96,
        144
      ],
      "id": "d5c3637d-c5a9-4aef-a152-8fc3f52d5903",
      "name": "Get 5 Products",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $('Get 5 Products').all().length }}",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        144
      ],
      "id": "1771d391-535f-46b4-a9ab-ad51830fff34",
      "name": "Loop Over Items",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        144
      ],
      "id": "aa2bda78-f11a-4eda-8d38-06739c52efcd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        144
      ],
      "id": "efd0ed56-54cb-4696-bf85-cc9f134171ed",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        368
      ],
      "id": "f3b912b6-0361-4aa2-87a7-8ed2042fd6e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"suggestedName\":{\n        \"type\":\"string\"\n      },\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"permalink\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"post\":{\n        \"type\":\"string\"\n      },\n      \"suggestedCategories\":{\n        \"type\":\"string\"\n      }, \n      \"suggestedSEOTags\":{\n        \"type\":\"string\"\n      }\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        368
      ],
      "id": "283c6413-7b47-4bdd-8974-6eff835e148d",
      "name": "Structured Output Parser",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1440,
        144
      ],
      "id": "afcb7203-9601-4368-8fd1-68cc9a112791",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const keys = [];\nfor (const key of Object.keys($('Get 5 Products').first().json)) { // Adjust 'records' based on your previous node's output\n  keys.push(key.toString());\n  console.log(key);\n}\n\n\nreturn { json: {keys}};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        144
      ],
      "id": "7e1b24b7-c42f-4b50-a122-0056f7f81ff1",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Date & Time').item.json.currentDate }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetType",
              "displayName": "sheetType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gridProperties",
              "displayName": "gridProperties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        144
      ],
      "id": "f9d07a18-2bea-4aea-a1a8-b0770429b268",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file').item.json.id }}",
          "mode": "id"
        },
        "title": "=Optimize - {{ $('Date & Time').item.json.currentDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        144
      ],
      "id": "101b1c8c-e3a8-4473-8851-09cd8a0b5b18",
      "name": "Create Optimize Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file').item.json.id }}",
          "mode": "id"
        },
        "title": "={{ $('Date & Time').item.json.currentDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        144
      ],
      "id": "9e9418a4-c5fd-4304-abe9-dadb129a5729",
      "name": "Create Raw Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=G&F - Report - {{ $json.currentDate }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "={{ $('Date & Time').item.json.currentDate }}"
            },
            {
              "title": "=Optimize - {{ $('Date & Time').item.json.currentDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1216,
        144
      ],
      "id": "218a9fb6-bce9-43ce-9d4e-882dc787c153",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "18oSmsBcS9qhnKovZrrDfwhrQ2dVDXY3I",
          "mode": "list",
          "cachedResultName": "Galileo & Friends Docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18oSmsBcS9qhnKovZrrDfwhrQ2dVDXY3I"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -992,
        144
      ],
      "id": "3fbb9ad1-7683-4010-b472-e0db7bd2441d",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I2eeiSkdhlX6CmaC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afa407b-e7e2-465b-bde2-b7273a09e92e",
              "name": "prompt",
              "value": "=I want to optimize my Online toy store,{{ $json.name }} - {{ $json.permalink }}. generate a new name suggestion, suggested categories, suggested SEO tags, 1 amazing post description for the website product page. return the result as json with name, suggested name, suggested categories, suggested SEO tags, permalink and the description.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        144
      ],
      "id": "ba942628-b9d4-4a94-b2b8-6aa17e968ad2",
      "name": "Prompt Command"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        144
      ],
      "id": "e729a48d-9f66-4c8f-b57c-ba43bde42914",
      "name": "Result"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').item.json.sheets[1].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "suggestedName": "={{ $json.output.suggestedName }}",
            "name": "={{ $json.output.name }}",
            "permalink": "={{ $json.output.permalink }}",
            "output": "=",
            "post": "={{ $json.output.post }}",
            "suggestedCategories": "={{ $json.output.suggestedCategories }}",
            "suggestedSEOTags": "={{ $json.output.suggestedSEOTags }}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggestedName",
              "displayName": "suggestedName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "permalink",
              "displayName": "permalink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post",
              "displayName": "post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggestedCategories",
              "displayName": "suggestedCategories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggestedSEOTags",
              "displayName": "suggestedSEOTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_created",
              "displayName": "date_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_created_gmt",
              "displayName": "date_created_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_modified",
              "displayName": "date_modified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_modified_gmt",
              "displayName": "date_modified_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "featured",
              "displayName": "featured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "catalog_visibility",
              "displayName": "catalog_visibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "short_description",
              "displayName": "short_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "regular_price",
              "displayName": "regular_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sale_price",
              "displayName": "sale_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_on_sale_from",
              "displayName": "date_on_sale_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_on_sale_from_gmt",
              "displayName": "date_on_sale_from_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_on_sale_to",
              "displayName": "date_on_sale_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_on_sale_to_gmt",
              "displayName": "date_on_sale_to_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "on_sale",
              "displayName": "on_sale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchasable",
              "displayName": "purchasable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_sales",
              "displayName": "total_sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "virtual",
              "displayName": "virtual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "downloadable",
              "displayName": "downloadable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "downloads",
              "displayName": "downloads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "download_limit",
              "displayName": "download_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "download_expiry",
              "displayName": "download_expiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "external_url",
              "displayName": "external_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "button_text",
              "displayName": "button_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tax_status",
              "displayName": "tax_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tax_class",
              "displayName": "tax_class",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "manage_stock",
              "displayName": "manage_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stock_quantity",
              "displayName": "stock_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "backorders",
              "displayName": "backorders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "backorders_allowed",
              "displayName": "backorders_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "backordered",
              "displayName": "backordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "low_stock_amount",
              "displayName": "low_stock_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sold_individually",
              "displayName": "sold_individually",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dimensions",
              "displayName": "dimensions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_required",
              "displayName": "shipping_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_taxable",
              "displayName": "shipping_taxable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_class",
              "displayName": "shipping_class",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_class_id",
              "displayName": "shipping_class_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviews_allowed",
              "displayName": "reviews_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "average_rating",
              "displayName": "average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating_count",
              "displayName": "rating_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upsell_ids",
              "displayName": "upsell_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cross_sell_ids",
              "displayName": "cross_sell_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "parent_id",
              "displayName": "parent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchase_note",
              "displayName": "purchase_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brands",
              "displayName": "brands",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attributes",
              "displayName": "attributes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "default_attributes",
              "displayName": "default_attributes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "variations",
              "displayName": "variations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grouped_products",
              "displayName": "grouped_products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "menu_order",
              "displayName": "menu_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price_html",
              "displayName": "price_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "related_ids",
              "displayName": "related_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "meta_data",
              "displayName": "meta_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stock_status",
              "displayName": "stock_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_options",
              "displayName": "has_options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "post_password",
              "displayName": "post_password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "global_unique_id",
              "displayName": "global_unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aioseo_notices",
              "displayName": "aioseo_notices",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "_links",
              "displayName": "_links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -48
      ],
      "id": "608d493f-fc67-4cd5-ad76-74b1d2ce4b76",
      "name": "Append or update row to Optimize Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        272
      ],
      "id": "c6bd702e-20f3-4f1a-98da-6b2c1df24af1",
      "name": "Wait",
      "webhookId": "a7869d7a-e582-45da-8a48-3c523abef6f4"
    },
    {
      "parameters": {
        "formTitle": "Update Products by Number of Products",
        "formFields": {
          "values": [
            {
              "fieldName": "Number of Products",
              "fieldLabel": "Number of Products",
              "fieldType": "number",
              "placeholder": "Number of Products",
              "defaultValue": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1664,
        144
      ],
      "id": "fd4d7adf-efe7-4d59-8b7f-3f2ed941e0b3",
      "name": "On form submission",
      "webhookId": "8d76bbd3-4c63-48d9-8882-bea5c195ca3f"
    }
  ],
  "connections": {
    "Get 5 Products": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append or update row to Optimize Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Prompt Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create Raw Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Optimize Sheet": {
      "main": [
        [
          {
            "node": "Get 5 Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Raw Sheet": {
      "main": [
        [
          {
            "node": "Create Optimize Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Command": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bed50f46-57f9-41da-bbcf-c1b1d5348572",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-19T07:50:31.632Z",
      "createdAt": "2026-01-19T07:50:31.632Z",
      "role": "workflow:owner",
      "workflowId": "z1J1avgA0DLJd8MLsLdep",
      "projectId": "OZpEMZrnioWDCJsC",
      "project": {
        "updatedAt": "2026-01-19T07:38:19.868Z",
        "createdAt": "2026-01-19T07:37:57.912Z",
        "id": "OZpEMZrnioWDCJsC",
        "name": "Lemuel Francisco <freelance.lemuelrfrancisco@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
        "projectRelations": [
          {
            "updatedAt": "2026-01-19T07:37:57.912Z",
            "createdAt": "2026-01-19T07:37:57.912Z",
            "userId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
            "projectId": "OZpEMZrnioWDCJsC",
            "user": {
              "updatedAt": "2026-02-04T01:02:15.000Z",
              "createdAt": "2026-01-19T07:37:57.337Z",
              "id": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
              "email": "freelance.lemuelrfrancisco@gmail.com",
              "firstName": "Lemuel",
              "lastName": "Francisco",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-19T07:38:36.482Z",
                "personalization_survey_n8n_version": "2.2.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VtHe_WtifdGUhlOw9NMlt",
                "userActivatedAt": 1768896964872,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769644632310
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}