workflows/woocommerce-product-update-with-ai-marketing-team-copy-jUhMkRBsYANdHIue.json
{
  "updatedAt": "2026-02-04T09:48:37.213Z",
  "createdAt": "2026-02-04T09:48:37.213Z",
  "id": "jUhMkRBsYANdHIue",
  "name": "WooCommerce Product Update with AI Marketing Team copy",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "height": 120,
        "width": 200,
        "color": 4
      },
      "id": "946050c4-bcbf-42f2-8522-0ff2c908a7e8",
      "name": "Sticky Note - Triggers",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        32
      ]
    },
    {
      "parameters": {
        "height": 100,
        "width": 340,
        "color": 5
      },
      "id": "ff409b52-eecc-4c6d-98d7-dce2a85245f3",
      "name": "Sticky Note - Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        128
      ]
    },
    {
      "parameters": {
        "height": 100,
        "width": 1400,
        "color": 6
      },
      "id": "0466faba-c27c-4ea7-8faf-4c480220f85a",
      "name": "Sticky Note - AI Team",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "height": 80,
        "width": 548,
        "color": 2
      },
      "id": "1ab5b6db-1c04-4975-a551-f635960ec7d9",
      "name": "Sticky Note - Expensive",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        464
      ]
    },
    {
      "parameters": {
        "height": 80,
        "width": 360,
        "color": 3
      },
      "id": "57238475-fae8-4b8a-abc0-7a2d0c23fa61",
      "name": "Sticky Note - Logging",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1968,
        144
      ]
    },
    {
      "parameters": {},
      "id": "08333f52-aedc-4ae0-8872-00aeaf2a14d7",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        176
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "e01615e9-246c-42ee-8a6e-abd01649698c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        368
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ProductEvaluations",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c8925605-d8ff-4a9a-9fdf-6b44372f9dd7",
      "name": "Read ProductEvaluations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -864,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get evaluations from the earlier node\nconst evaluations = $('Read ProductEvaluations').all();\n// Get reference prices from direct input (Read ProductReference)\nconst referenceItems = $input.all();\n\n// Build lookup map from reference data by name (case-insensitive)\nconst referenceMap = {};\nfor (const ref of referenceItems) {\n  const name = (ref.json.Name || '').trim().toLowerCase();\n  const priceText = ref.json.Price || '';\n  // Parse \"Buy $13.90 - $13.90\" format - extract first dollar amount as cost\n  const priceMatch = priceText.match(/\\$?([\\d.]+)/);\n  const costPrice = priceMatch ? parseFloat(priceMatch[1]) : 0;\n  if (name) {\n    referenceMap[name] = costPrice;\n  }\n}\n\nconst preparedProducts = [];\n\nfor (const item of evaluations) {\n  const product = item.json;\n  \n  // Skip rows without ProductID\n  if (!product.ProductID) continue;\n  \n  const productName = (product.ProductName || product.SuggestedName || '').trim();\n  const costPrice = referenceMap[productName.toLowerCase()] || 0;\n  const suggestedRetailPrice = parseFloat(product.SuggestedRetailPrice) || 0;\n  \n  // Calculate margin: (suggested - cost) / suggested\n  const margin = suggestedRetailPrice > 0 \n    ? (suggestedRetailPrice - costPrice) / suggestedRetailPrice \n    : 0;\n  const isProfitable = costPrice > 0 && margin >= 0.15; // 15% minimum margin\n  \n  preparedProducts.push({\n    productId: product.ProductID,\n    productName: productName,\n    suggestedName: product.SuggestedName || '',\n    suggestedDesc: product.SuggestedDesc || '',\n    suggestedRetailPrice: suggestedRetailPrice,\n    costPrice: costPrice,\n    marginPercent: Math.round(margin * 100),\n    isProfitable: isProfitable,\n    priceVerdict: (product.PriceVerdict || '').toUpperCase().trim(),\n    originalData: product\n  });\n}\n\nreturn preparedProducts.map(p => ({ json: p }));"
      },
      "id": "031ba150-33e2-423d-8d09-d29f83d4ee43",
      "name": "Prepare Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priceVerdict }}",
                    "rightValue": "FAIR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAIR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priceVerdict }}",
                    "rightValue": "CHEAP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CHEAP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priceVerdict }}",
                    "rightValue": "EXPENSIVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXPENSIVE"
            }
          ]
        },
        "options": {}
      },
      "id": "d60187b8-40a1-4781-bbf4-a7bc2a9147a6",
      "name": "Route by PriceVerdict",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        256
      ]
    },
    {
      "parameters": {},
      "id": "9debbc83-de1b-48a9-9485-48fb7af30b4e",
      "name": "Merge FAIR and CHEAP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        464,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Marketing Content Reviewer. Review and enhance the product name and description based on the following data:\n\nSuggested Name: {{ $json.suggestedName }}\nSuggested Description: {{ $json.suggestedDesc }}\nSuggested Retail Price: {{ $json.suggestedRetailPrice }}\nPrice Verdict: {{ $json.priceVerdict }}\n\nProvide enhanced marketing content that is compelling, accurate, and optimized for WooCommerce. Return your response as a structured JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "b22561d9-4d2a-4c6d-8d2c-84cd5baeb767",
      "name": "AI Agent 1 - Marketing Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "864080d3-9272-4bf0-a9f4-2ec87a66b9a2",
      "name": "Gemini Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"enhancedName\": {\n      \"type\": \"string\"\n    },\n    \"enhancedDescription\": {\n      \"type\": \"string\"\n    },\n    \"marketingScore\": {\n      \"type\": \"number\"\n    },\n    \"improvements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}"
      },
      "id": "d5f1ad80-946e-4dc4-9470-9de02480e87a",
      "name": "Output Parser 1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Agent 1 (Marketing Content Reviewer) response\nconst item = $input.first();\nconst originalData = $('Merge FAIR and CHEAP').first().json;\n\n// With structured output parser, the output is already parsed in item.json.output\nconst agentResponse = item.json.output || {\n  enhancedName: originalData.suggestedName,\n  enhancedDescription: originalData.suggestedDesc,\n  marketingScore: 5,\n  improvements: ['Using original content']\n};\n\nreturn [{\n  json: {\n    ...originalData,\n    agent1: {\n      enhancedName: agentResponse.enhancedName,\n      enhancedDescription: agentResponse.enhancedDescription,\n      marketingScore: agentResponse.marketingScore,\n      improvements: agentResponse.improvements\n    }\n  }\n}];"
      },
      "id": "910273ee-9d78-43ff-b6f0-b27ba66ff3a0",
      "name": "Parse Agent 1 Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Pricing Strategy Validator. Review the pricing strategy using the following data:\n\nProduct ID: {{ $json.productId }}\nEnhanced Name: {{ $json.agent1.enhancedName }}\nEnhanced Description: {{ $json.agent1.enhancedDescription }}\nMarketing Score: {{ $json.agent1.marketingScore }}\nSuggested Retail Price: {{ $json.suggestedRetailPrice }}\nPrice Verdict: {{ $json.priceVerdict }}\n\nValidate the pricing strategy and provide pricing recommendations. Return your response as a structured JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "ffe827a2-e6fd-4275-a01a-2e33c9157007",
      "name": "AI Agent 2 - Pricing Strategy",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "464e3d6e-16f8-44e8-a927-13df82ab59f3",
      "name": "Gemini Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"finalPrice\": {\n      \"type\": \"number\"\n    },\n    \"originalPrice\": {\n      \"type\": \"number\"\n    },\n    \"pricingStrategy\": {\n      \"type\": \"string\"\n    },\n    \"justification\": {\n      \"type\": \"string\"\n    },\n    \"pricingScore\": {\n      \"type\": \"number\"\n    }\n  }\n}"
      },
      "id": "5e8bf730-2f65-473e-b5f5-95d7eba69aca",
      "name": "Output Parser 2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1408,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Agent 2 (Pricing Strategy Validator) response\nconst item = $input.first();\nconst previousData = $('Parse Agent 1 Response').first().json;\n\n// With structured output parser, the output is already parsed in item.json.output\nconst agentResponse = item.json.output || {\n  finalPrice: previousData.suggestedRetailPrice,\n  originalPrice: previousData.suggestedRetailPrice,\n  pricingStrategy: 'Using suggested price',\n  justification: 'Default pricing',\n  pricingScore: 5\n};\n\nreturn [{\n  json: {\n    ...previousData,\n    agent2: {\n      finalPrice: agentResponse.finalPrice,\n      originalPrice: agentResponse.originalPrice,\n      pricingStrategy: agentResponse.pricingStrategy,\n      justification: agentResponse.justification,\n      pricingScore: agentResponse.pricingScore\n    }\n  }\n}];"
      },
      "id": "a93bbbca-a16d-459f-ac22-7773b44b58de",
      "name": "Parse Agent 2 Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Final QA Reviewer. Perform a comprehensive quality check on all content and pricing:\n\nProduct ID: {{ $json.productId }}\nEnhanced Name: {{ $json.agent1.enhancedName }}\nEnhanced Description: {{ $json.agent1.enhancedDescription }}\nMarketing Score: {{ $json.agent1.marketingScore }}\nFinal Price: {{ $json.agent2.finalPrice }}\nPricing Strategy: {{ $json.agent2.pricingStrategy }}\nPricing Score: {{ $json.agent2.pricingScore }}\n\nPerform final quality assurance and approve or reject the product updates. Return your response as a structured JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "2201085f-4b30-48ca-9dc1-b9485ea9f8cc",
      "name": "AI Agent 3 - Final QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1840,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "106a0d75-86b7-456e-80dd-3c64d152f6ed",
      "name": "Gemini Model 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"approvedName\": {\n      \"type\": \"string\"\n    },\n    \"approvedDescription\": {\n      \"type\": \"string\"\n    },\n    \"approvedPrice\": {\n      \"type\": \"number\"\n    },\n    \"overallScore\": {\n      \"type\": \"number\"\n    },\n    \"qualityNotes\": {\n      \"type\": \"string\"\n    },\n    \"isApproved\": {\n      \"type\": \"boolean\"\n    }\n  }\n}"
      },
      "id": "e34b2bf2-37bc-4da2-b780-fc1842930779",
      "name": "Output Parser 3",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1984,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Agent 3 (Final QA) response\nconst item = $input.first();\nconst previousData = $('Parse Agent 2 Response').first().json;\n\nconst agentResponse = item.json.output || {\n  approvedName: previousData.agent1.enhancedName,\n  approvedDescription: previousData.agent1.enhancedDescription,\n  approvedPrice: previousData.agent2.finalPrice,\n  overallScore: 7,\n  qualityNotes: 'Using previous agent outputs',\n  isApproved: true\n};\n\n// Determine which fields will be updated\nconst updatedFields = ['name', 'description', 'status'];\nconst finalPrice = previousData.isProfitable ? agentResponse.approvedPrice : null;\nif (finalPrice !== null) {\n  updatedFields.push('regular_price');\n}\n\nreturn [{\n  json: {\n    productId: previousData.productId,\n    productName: previousData.productName,\n    priceVerdict: previousData.priceVerdict,\n    costPrice: previousData.costPrice,\n    marginPercent: previousData.marginPercent,\n    isProfitable: previousData.isProfitable,\n    original: {\n      name: previousData.suggestedName,\n      description: previousData.suggestedDesc,\n      price: previousData.suggestedRetailPrice\n    },\n    final: {\n      name: agentResponse.approvedName,\n      description: agentResponse.approvedDescription,\n      price: agentResponse.approvedPrice,\n      overallScore: agentResponse.overallScore,\n      qualityNotes: agentResponse.qualityNotes,\n      isApproved: agentResponse.isApproved\n    },\n    updatedFields: updatedFields,\n    agentScores: {\n      marketing: previousData.agent1.marketingScore,\n      pricing: previousData.agent2.pricingScore,\n      overall: agentResponse.overallScore\n    }\n  }\n}];"
      },
      "id": "fd692ed8-ac44-4b20-8b74-4dc1e80a8308",
      "name": "Parse Final Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        144
      ]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "productId": "={{ $json.productId }}",
        "updateFields": {
          "description": "={{ $json.final.description }}",
          "name": "={{ $json.final.name }}",
          "regularPrice": "={{ $json.isProfitable ? String($json.final.price) : '' }}",
          "status": "publish"
        },
        "dimensionsUi": {},
        "imagesUi": {},
        "metadataUi": {}
      },
      "id": "487bf078-5d6f-4103-8356-145a6328d7e7",
      "name": "Update Product - Active",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        2416,
        144
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare EXPENSIVE products for draft status\nconst item = $input.first();\n\nreturn [{\n  json: {\n    productId: item.json.productId,\n    productName: item.json.productName,\n    priceVerdict: item.json.priceVerdict,\n    costPrice: item.json.costPrice,\n    marginPercent: item.json.marginPercent,\n    isProfitable: false,\n    original: {\n      name: item.json.suggestedName,\n      description: item.json.suggestedDesc,\n      price: item.json.suggestedRetailPrice\n    },\n    final: {\n      name: item.json.suggestedName,\n      description: item.json.suggestedDesc,\n      price: item.json.suggestedRetailPrice,\n      overallScore: 0,\n      qualityNotes: 'Set to draft - price evaluated as EXPENSIVE',\n      isApproved: false\n    },\n    updatedFields: ['status'],\n    agentScores: {\n      marketing: 0,\n      pricing: 0,\n      overall: 0\n    },\n    action: 'set_draft'\n  }\n}];"
      },
      "id": "d4ddd93b-e1e7-4ead-9c56-38177513ae04",
      "name": "Prepare Draft Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        400
      ]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "productId": "={{ $json.productId }}",
        "updateFields": {
          "status": "draft"
        },
        "dimensionsUi": {},
        "imagesUi": {},
        "metadataUi": {}
      },
      "id": "38720a8e-9feb-41d5-bb20-22ae91ce8854",
      "name": "Update Product - Draft",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        2416,
        400
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data matching actual ProcessedProducts sheet columns\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let updateStatus = 'success';\n  let errorMessage = '';\n  \n  if (data.error) {\n    updateStatus = 'error';\n    errorMessage = data.error.message || 'Unknown error';\n  }\n  \n  // Build updated fields summary\n  const updatedFieldsList = (data.updatedFields || []).join(', ');\n  const priceInfo = data.isProfitable \n    ? 'Cost: $' + (data.costPrice || 0) + ' | Retail: $' + (data.final?.price || 0) + ' | Margin: ' + (data.marginPercent || 0) + '%'\n    : 'Cost: $' + (data.costPrice || 0) + ' | Not profitable (margin: ' + (data.marginPercent || 0) + '%) - price not updated';\n  \n  results.push({\n    json: {\n      ProductID: data.productId || data.id || '',\n      ProductName: data.final?.name || data.productName || data.name || '',\n      ProcessedAt: new Date().toISOString(),\n      Headline: data.priceVerdict + ' - ' + (data.status || (data.action === 'set_draft' ? 'draft' : 'publish')),\n      Description: priceInfo,\n      SocialPost: 'Score: ' + (data.final?.overallScore || data.agentScores?.overall || 0) + '/10',\n      VideoScript: 'Updated: ' + updatedFieldsList,\n      ImagePrompt: updateStatus,\n      ProductURL: errorMessage,\n      DateTimeCreated: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "4bdc3c14-f00c-4ce9-8e86-cfd1d35c6183",
      "name": "Handle Update Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        272
      ]
    },
    {
      "parameters": {},
      "id": "2d9015fe-38f3-4b78-afce-040683bda29e",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ProcessedProducts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductID": "={{ $json.ProductID }}",
            "ProductName": "={{ $json.ProductName }}",
            "ProcessedAt": "={{ $json.ProcessedAt }}",
            "Headline": "={{ $json.Headline }}",
            "Description": "={{ $json.Description }}",
            "SocialPost": "={{ $json.SocialPost }}",
            "VideoScript": "={{ $json.VideoScript }}",
            "ImagePrompt": "={{ $json.ImagePrompt }}",
            "ProductURL": "={{ $json.ProductURL }}",
            "DateTimeCreated": "={{ $json.DateTimeCreated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ProductID",
              "displayName": "ProductID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProductName",
              "displayName": "ProductName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProcessedAt",
              "displayName": "ProcessedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SocialPost",
              "displayName": "SocialPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VideoScript",
              "displayName": "VideoScript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProductURL",
              "displayName": "ProductURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateTimeCreated",
              "displayName": "DateTimeCreated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b6a6a35f-ad87-4fb6-8dfe-a6d340e3da37",
      "name": "Log to ProcessedProducts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3088,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ProductReference",
          "mode": "name"
        },
        "options": {}
      },
      "id": "88b4b914-9f11-4aad-a546-8181f76bdd69",
      "name": "Read ProductReference",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -416,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "path": "d991cb94-d917-46a9-b688-7e7a8ceedc68"
      },
      "id": "0269d825-d0e9-4794-912e-f45c84e60e66",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        272
      ],
      "webhookId": "d991cb94-d917-46a9-b688-7e7a8ceedc68"
    },
    {
      "parameters": {
        "amount": 2,
        "path": "1f553fcb-6f9d-48c5-bf5e-be280631d476"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        272
      ],
      "id": "d6c9a276-9126-49d5-ab85-f3a9aa2799db",
      "name": "Wait",
      "webhookId": "1f553fcb-6f9d-48c5-bf5e-be280631d476"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read ProductEvaluations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read ProductEvaluations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ProductEvaluations": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by PriceVerdict": {
      "main": [
        [
          {
            "node": "Merge FAIR and CHEAP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge FAIR and CHEAP",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Prepare Draft Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge FAIR and CHEAP": {
      "main": [
        [
          {
            "node": "AI Agent 1 - Marketing Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1 - Marketing Content": {
      "main": [
        [
          {
            "node": "Parse Agent 1 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1 - Marketing Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser 1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent 1 - Marketing Content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent 1 Response": {
      "main": [
        [
          {
            "node": "AI Agent 2 - Pricing Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 2 - Pricing Strategy": {
      "main": [
        [
          {
            "node": "Parse Agent 2 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 2 - Pricing Strategy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser 2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent 2 - Pricing Strategy",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent 2 Response": {
      "main": [
        [
          {
            "node": "AI Agent 3 - Final QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3 - Final QA": {
      "main": [
        [
          {
            "node": "Parse Final Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3 - Final QA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser 3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent 3 - Final QA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final Agent Response": {
      "main": [
        [
          {
            "node": "Update Product - Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product - Active": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft Status": {
      "main": [
        [
          {
            "node": "Update Product - Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product - Draft": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Handle Update Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Results": {
      "main": [
        [
          {
            "node": "Log to ProcessedProducts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ProductReference": {
      "main": [
        [
          {
            "node": "Prepare Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Read ProductReference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Route by PriceVerdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "90effc52-e27b-4a33-9686-13c0e514b377",
  "activeVersionId": null,
  "versionCounter": 12,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T09:48:37.217Z",
      "createdAt": "2026-02-04T09:48:37.217Z",
      "role": "workflow:owner",
      "workflowId": "jUhMkRBsYANdHIue",
      "projectId": "OZpEMZrnioWDCJsC",
      "project": {
        "updatedAt": "2026-01-19T07:38:19.868Z",
        "createdAt": "2026-01-19T07:37:57.912Z",
        "id": "OZpEMZrnioWDCJsC",
        "name": "Lemuel Francisco <freelance.lemuelrfrancisco@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
        "projectRelations": [
          {
            "updatedAt": "2026-01-19T07:37:57.912Z",
            "createdAt": "2026-01-19T07:37:57.912Z",
            "userId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
            "projectId": "OZpEMZrnioWDCJsC",
            "user": {
              "updatedAt": "2026-02-04T08:46:31.302Z",
              "createdAt": "2026-01-19T07:37:57.337Z",
              "id": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
              "email": "freelance.lemuelrfrancisco@gmail.com",
              "firstName": "Lemuel",
              "lastName": "Francisco",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-19T07:38:36.482Z",
                "personalization_survey_n8n_version": "2.2.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VtHe_WtifdGUhlOw9NMlt",
                "userActivatedAt": 1768896964872,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769644632310
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}