workflows/woocommerce-marketing-generator-Rqp5DLzr1EltZIhD.json
{
  "updatedAt": "2026-02-04T15:48:02.275Z",
  "createdAt": "2026-01-28T15:09:51.834Z",
  "id": "Rqp5DLzr1EltZIhD",
  "name": "WooCommerce Marketing Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3296,
        656
      ],
      "id": "dc22ca94-bd36-4cd6-8e84-d36bf357f0e9",
      "name": "Telegram Trigger",
      "webhookId": "f96489a7-db8b-4d23-8bba-79be8369c86d",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2848,
        944
      ],
      "id": "d454646c-c05b-41a9-bdb1-51b31b57a290",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "user-check",
              "leftValue": 8430120206,
              "rightValue": "={{ $json.message.chat.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3072,
        656
      ],
      "id": "089e05a5-83e6-4a1c-be72-6ef64e50acb6",
      "name": "Validate User"
    },
    {
      "parameters": {
        "jsCode": "const text = $('Telegram Trigger').first().json.message.text?.toLowerCase() || '';\nconst parts = text.split(' ');\nconst command = parts[0];\nconst param = parts[1] || '';\nconst chatId = $('Telegram Trigger').first().json.message?.chat.id || 0;\n\nreturn {\n  command,\n  param,\n  chatId,\n  source: 'telegram'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        752
      ],
      "id": "c832f3c4-c5eb-4c32-b2db-63280f388fd9",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "jsCode": "return {\n  command: 'market',\n  param: '',\n  chatId: 8430120206,\n  source: 'schedule'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        944
      ],
      "id": "f85df3fe-b2f4-4fec-8abb-e02007ebbe97",
      "name": "Set Schedule Context"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "market",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "market-cmd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Market"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "list-cmd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "List"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "generate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "generate-cmd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "get-cmd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "help-cmd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2400,
        784
      ],
      "id": "7ca885c2-a685-42a8-b825-8e830775028e",
      "name": "Command Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-param",
              "leftValue": "={{ $json.hasParam }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        -112
      ],
      "id": "0eeff751-679e-415b-bb16-7514631ad8e8",
      "name": "Market Has ID?"
    },
    {
      "parameters": {
        "operation": "get",
        "productId": "={{ $('Store Market Context').item.json.param }}"
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1504,
        -208
      ],
      "id": "7e792104-8751-4d4b-afcd-a78c94b1a78f",
      "name": "Market Get Specific",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1728,
        -16
      ],
      "id": "7ffa451a-9db1-43ef-af8e-08257e713e77",
      "name": "Market Get Recent",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const product = $json;\nconst chatId = product._chatId || 8430120206;\n\nif (!product || !product.id) {\n  return {\n    error: true,\n    errorMessage: 'Failed to fetch product data',\n    chatId\n  };\n}\n\nreturn {\n  error: false,\n  productId: product.id,\n  productName: product.name,\n  productDescription: product.description?.replace(/<[^>]*>/g, '') || '',\n  productShortDescription: product.short_description?.replace(/<[^>]*>/g, '') || '',\n  productPrice: product.price,\n  productRegularPrice: product.regular_price,\n  productSalePrice: product.sale_price,\n  productCategories: product.categories?.map(c => c.name).join(', ') || '',\n  productTags: product.tags?.map(t => t.name).join(', ') || '',\n  productImage: product.images?.[0]?.src || '',\n  productUrl: product.permalink,\n  chatId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -112
      ],
      "id": "9c612270-0bcc-4023-a290-e367d7bf9328",
      "name": "Prepare Product Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        -112
      ],
      "id": "f19f221c-0850-456f-bfaf-56e7db5f32e3",
      "name": "Product Valid?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Failed to fetch product. Please check the product ID and try again.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        -16
      ],
      "id": "aa54dbcb-a508-42d1-991c-8b1cc22d6a91",
      "name": "Notify Product Error",
      "webhookId": "c56b4ca2-691a-40e1-bf32-895f034d5eab",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ProcessedProducts",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ProductID",
              "lookupValue": "={{ $json.productId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -832,
        -208
      ],
      "id": "5e6ee40f-c565-43b4-ac2f-0c4e3c786f12",
      "name": "Check If Processed",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-processed",
              "leftValue": "={{ $json.ProductID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        -208
      ],
      "id": "ffbbf809-aaaf-401e-9746-e62d8d82c1c6",
      "name": "Not Processed Yet?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -304
      ],
      "id": "d1388266-a9fa-4ccd-95b4-94b572038c71",
      "name": "Generate Marketing Content",
      "credentials": {
        "httpQueryAuth": {
          "id": "fxd1AYCxA3ZIgQAD",
          "name": "Gemini API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst productData = $('Prepare Gemini Request').item.json.productData;\n\n// Extract text from Gemini API response\nlet text = '';\ntry {\n  text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch (e) {\n  text = '';\n}\n\n// Check for AI generation error\nif (!text || $json.error) {\n  return {\n    error: true,\n    errorMessage: 'AI content generation failed',\n    productId: productData.productId,\n    productName: productData.productName,\n    chatId: productData.chatId\n  };\n}\n\nlet parsed;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    parsed = {\n      headline: 'Marketing Content Generated',\n      description: text,\n      socialPost: text.substring(0, 280),\n      videoScript: 'Please see the full description for video content ideas.',\n      imagePrompt: 'Product marketing image'\n    };\n  }\n} catch (e) {\n  parsed = {\n    headline: 'Marketing Content Generated',\n    description: text,\n    socialPost: text.substring(0, 280),\n    videoScript: 'Please see the full description for video content ideas.',\n    imagePrompt: 'Product marketing image'\n  };\n}\n\n// Ensure videoScript and imagePrompt are strings\nlet videoScript = parsed.videoScript;\nif (typeof videoScript === 'object') {\n  videoScript = JSON.stringify(videoScript, null, 2);\n}\n\nlet imagePrompt = parsed.imagePrompt;\nif (typeof imagePrompt === 'object') {\n  imagePrompt = JSON.stringify(imagePrompt, null, 2);\n}\n\nreturn {\n  error: false,\n  headline: parsed.headline || '',\n  description: parsed.description || '',\n  socialPost: parsed.socialPost || '',\n  videoScript: videoScript || '',\n  imagePrompt: imagePrompt || '',\n  productId: productData.productId,\n  productName: productData.productName,\n  productUrl: productData.productUrl,\n  productImage: productData.productImage,\n  chatId: productData.chatId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -304
      ],
      "id": "95384562-16d7-406d-9c0a-d8a327e308c9",
      "name": "Parse Marketing Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "no-ai-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -304
      ],
      "id": "9fdf1810-db9e-4829-bfd0-01b3cef3ab5c",
      "name": "AI Generation OK?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "AI content generation failed for product {{ $json.productName }} (ID: {{ $json.productId }}). Please try again later.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -208
      ],
      "id": "f2bf8421-51b2-4834-82d4-99b14b705b43",
      "name": "Notify AI Error",
      "webhookId": "2bc8f648-17be-4f16-8fe0-d9e4fe407adb",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ProcessedProducts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductID": "={{ $('Parse Marketing Response').item.json.productId }}",
            "ProductName": "={{ $('Parse Marketing Response').item.json.productName }}",
            "ProcessedAt": "={{ $now.toISO() }}",
            "Headline": "={{ $('Parse Marketing Response').item.json.headline }}",
            "Description": "={{ $('Parse Marketing Response').item.json.description }}",
            "SocialPost": "={{ $('Parse Marketing Response').item.json.socialPost }}",
            "VideoScript": "={{ JSON.stringify($('Parse Marketing Response').item.json.videoScript) }}",
            "ImagePrompt": "={{ JSON.stringify($('Parse Marketing Response').item.json.imagePrompt) }}",
            "ProductURL": "={{ $('Parse Marketing Response').item.json.productUrl }}",
            "DateTimeCreated": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ProductID",
              "displayName": "ProductID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProductName",
              "displayName": "ProductName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProcessedAt",
              "displayName": "ProcessedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SocialPost",
              "displayName": "SocialPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VideoScript",
              "displayName": "VideoScript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ImagePrompt",
              "displayName": "ImagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProductURL",
              "displayName": "ProductURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateTimeCreated",
              "displayName": "DateTimeCreated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        512,
        -400
      ],
      "id": "3f78c31c-91c0-4173-bdaa-8e5d061500d9",
      "name": "Save to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QrdVcRSV8DgAcNck",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Product Data').item.json.chatId }}",
        "text": "=⚠️ Product ID {{ $('Prepare Product Data').item.json.productId }} ({{ $('Prepare Product Data').item.json.productName }}) has already been processed. Skipping to avoid duplicate content.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -112
      ],
      "id": "f1faada7-b896-4fbe-8ed2-e4c08540e523",
      "name": "Notify Already Processed",
      "webhookId": "818b38eb-2d18-49c7-9a79-4af2203c96be",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const param = $json.param;\nconst isGetAll = param === 'all';\nconst items = param !== 'all' && Number(param) ? param : '';\n\nreturn { isGetAll, items, chatId: $json.chatId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        272
      ],
      "id": "de27d0b9-0403-4825-ae8a-797548871efd",
      "name": "List Extract Params"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.items }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "is-get-all",
              "leftValue": "={{ $json.isGetAll }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        272
      ],
      "id": "fd4fff42-a5f7-4eee-b2f0-36988ef33758",
      "name": "List Valid Param?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ $json.isGetAll }}",
        "limit": "={{ $json.items || 5 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1728,
        176
      ],
      "id": "1080c054-7831-4757-9a88-b77dced88734",
      "name": "List Get Products",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1728,
        368
      ],
      "id": "d2b5d1e2-f55c-40b6-ad71-10d0a7b163d6",
      "name": "List Get Default (5)",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1504,
        272
      ],
      "id": "db343eeb-a6ba-4783-b8e8-b5c5e59823d3",
      "name": "List Iterate"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1280,
        176
      ],
      "id": "3cb58b7c-3370-474b-84a0-dff5e689794c",
      "name": "Rate Limit Delay",
      "webhookId": "rate-limit-webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Command').item.json.chatId }}",
        "text": "=<strong>{{ $json.id }}</strong> - {{ $json.status }}\n{{ $json.name }}\n\n{{ $json.permalink }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1056,
        272
      ],
      "id": "5a4e518c-5016-4896-b830-c6799360d64f",
      "name": "List Send to Telegram",
      "webhookId": "5467f03c-bce7-4ec3-8bc4-3104259d9528",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const param = $json.param;\nconst productId = param || '';\nconst chatId = $json.chatId;\n\nreturn { productId, chatId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        656
      ],
      "id": "c1e0f0dd-78c5-4b2a-aef3-40cd1691866e",
      "name": "Generate Extract ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-product-id",
              "leftValue": "={{ $json.productId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        656
      ],
      "id": "c590e044-9d76-4b65-a9b9-43c9755d5c1b",
      "name": "Generate Has ID?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Please provide a product ID. Usage: <code>generate [product_id]</code>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1728,
        752
      ],
      "id": "257edd33-84f3-4450-ac82-437e865e398d",
      "name": "Generate Missing ID",
      "webhookId": "bab567c6-e09d-4333-86ca-d8b757a25931",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VtHe_WtifdGUhlOw9NMlt",
          "mode": "list",
          "cachedResultUrl": "/workflow/VtHe_WtifdGUhlOw9NMlt",
          "cachedResultName": "SUB:Get and Generate by Product ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "productId": "={{ $json.productId }}",
            "chatId": "={{ $json.chatId }}"
          },
          "matchingColumns": [
            "productId"
          ],
          "schema": [
            {
              "id": "productId",
              "displayName": "productId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        560
      ],
      "id": "b4214c8d-23f2-434f-84e4-38a8bc9b5358",
      "name": "Call Generate Sub-Workflow"
    },
    {
      "parameters": {
        "jsCode": "const param = $json.param;\nconst productId = param || '';\nconst chatId = $json.chatId;\n\nreturn { productId, chatId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        1040
      ],
      "id": "8dfe3398-9b77-4e20-ac35-3c29c7e5134c",
      "name": "Get Extract ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-get-id",
              "leftValue": "={{ $json.productId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        1040
      ],
      "id": "3a50eb09-91a9-4b0b-995d-60400d2feb03",
      "name": "Get Has ID?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Please provide a product ID. Usage: <code>get [product_id]</code>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1728,
        1136
      ],
      "id": "489bd9c4-b60a-4290-a833-6696e1526444",
      "name": "Get Missing ID",
      "webhookId": "52b48ec9-29c6-401d-8717-9bb731635d25",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "productId": "={{ $json.productId }}"
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        -1728,
        944
      ],
      "id": "c4df2464-50af-4bd3-8c75-c72d2f9275ba",
      "name": "Get Product",
      "credentials": {
        "wooCommerceApi": {
          "id": "uGpC30yt9WNfKtA1",
          "name": "WooCommerce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Command').item.json.chatId }}",
        "text": "=<strong>{{ $json.id }}</strong> - {{ $json.status }}\n{{ $json.name }}\n\n{{ $json.permalink }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1504,
        944
      ],
      "id": "bb2479df-98c6-4407-8fd1-12ac5524551a",
      "name": "Get Send to Telegram",
      "webhookId": "99e212fd-c204-4826-8647-aeb90751038b",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📋 <b>Bot Commands:</b>\n\n<b>Marketing:</b>\n<code>market</code> - Generate marketing for 5 recent products\n<code>market [ID]</code> - Generate marketing for specific product\n\n<b>Products:</b>\n<code>list</code> - List 5 recent products\n<code>list [N]</code> - List N products\n<code>list all</code> - List all products\n<code>get [ID]</code> - Get specific product details\n\n<b>Content Generation:</b>\n<code>generate [ID]</code> - Generate content via sub-workflow\n\n<code>help</code> - Show this help message\n\n💡 Products are tracked to avoid duplicate marketing generation.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2176,
        1232
      ],
      "id": "f5879e20-bf1f-4283-beb3-9fbbccffc7fb",
      "name": "Send Help",
      "webhookId": "4d35c3ca-8087-4778-8c1b-a2a779525b9a",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "❓ Unknown command. Type <code>help</code> to see available commands.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2176,
        1424
      ],
      "id": "0c5214eb-651e-499e-a901-4e94a2f6f5e2",
      "name": "Unknown Command",
      "webhookId": "1ec49f22-d599-4470-aa9e-3b1147787648",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "❌ Invalid user. Access denied.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2848,
        560
      ],
      "id": "d8fb45e3-f1ee-4620-afb3-7876111071a7",
      "name": "Invalid User",
      "webhookId": "84375d0d-b152-4563-a328-74d96ae1e2a3",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## WooCommerce Marketing Generator\n\n### Triggers:\n- **Telegram**: Multiple commands\n- **Schedule**: Runs daily automatically\n\n### Commands:\n- **market** - AI marketing generation\n- **list** - List products\n- **get** - Get product details\n- **generate** - Call sub-workflow\n- **help** - Show commands\n\n### v2 Improvements:\n- Error handling on all API nodes\n- Missing ID fallback messages\n- Rate limiting for Telegram\n- Unknown command handler\n- Product validation checks\n- Configurable user ID (see Config note)",
        "height": 380,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        -432
      ],
      "id": "e35cc001-ff51-48cf-a343-67215246cdc2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Marketing Flow\n\n1. Get product(s) from WooCommerce\n2. Validate product data\n3. Check if already processed\n4. Generate AI content (Gemini API)\n5. Validate AI response\n6. Save to Google Sheets\n7. Send to Telegram\n\n**Note:** Image generation removed\n(requires AI nodes package)",
        "height": 240,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2048,
        -544
      ],
      "id": "6b1e17d2-813a-4d3a-8c65-b4e3908243a0",
      "name": "Marketing Flow Note"
    },
    {
      "parameters": {
        "content": "## Error Handling\n\nAll WooCommerce, Google Sheets, and Gemini API nodes have `onError: continueRegularOutput` to prevent workflow crashes.\n\nError notifications are sent to Telegram for:\n- Failed product fetches\n- AI generation failures",
        "height": 200,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -704
      ],
      "id": "e0cf7ee0-2159-481c-9b13-4f8dd749b7e4",
      "name": "Error Handling Note"
    },
    {
      "parameters": {
        "content": "## Configuration\n\n**Authorized Telegram User ID:**\n`8430120206`\n\n**Gemini API Setup (REQUIRED):**\n1. Get API key from https://aistudio.google.com/apikey\n2. In n8n Credentials, create new:\n   - Type: \"Query Auth\"\n   - Name: \"Gemini API Key\"\n   - Name field: `key`\n   - Value field: Your API key\n3. Assign to \"Generate Marketing Content\" node\n\n**User ID Config:**\nTo change authorized user, update:\n1. **Validate User** - IF condition leftValue\n2. **Set Schedule Context** - chatId in Code",
        "height": 300,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2864,
        -400
      ],
      "id": "cb3082de-7a48-41b5-8bcb-44e665412c6c",
      "name": "Configuration"
    },
    {
      "parameters": {
        "jsCode": "const productData = $('Prepare Product Data').item.json;\n\nconst prompt = `You are a Rockstar and expert Digital Marketing specialist. Create compelling marketing content for this WooCommerce product:\n\n**Product Name:** ${productData.productName}\n**Description:** ${productData.productDescription}\n**Price:** ${productData.productPrice}\n**Categories:** ${productData.productCategories}\n**Tags:** ${productData.productTags}\n\nGenerate the following:\n\n1. **MARKETING HEADLINE** (max 60 characters, attention-grabbing)\n2. **MARKETING DESCRIPTION** (150-200 words, persuasive, highlights benefits, includes call-to-action)\n3. **SOCIAL MEDIA POST** (for Facebook/Instagram, with relevant emojis and hashtags)\n4. **VIDEO SCRIPT** (30-second promotional video script with scenes and no voiceover and no text in video)\n5. **IMAGE PROMPT** (detailed prompt for AI image generation showing the product in an appealing marketing context)\n\nFormat your response as JSON with keys: headline, description, socialPost, videoScript, imagePrompt`;\n\nreturn {\n  requestBody: {\n    contents: [{\n      parts: [{\n        text: prompt\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.8,\n      maxOutputTokens: 2048\n    }\n  },\n  productData: productData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -304
      ],
      "id": "414a46e3-cb9d-43f9-bc90-e4d6ad1272c5",
      "name": "Prepare Gemini Request"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $('Parse Marketing Response').item.json.imagePrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        736,
        -400
      ],
      "id": "209e324b-1be4-4724-bfb9-edec3b3aa224",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "text": "=🚀 <b>MARKETING CONTENT GENERATED</b> 🚀\n\n📦 <b>Product:</b> {{ $('Parse Marketing Response').item.json.productName }}\n\n🔗 <b>Product URL:</b> {{ $('Parse Marketing Response').item.json.productUrl }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -592
      ],
      "id": "0fa71359-b88e-4796-9173-b26dea1033a9",
      "name": "Send Content to Telegram Raw Content",
      "webhookId": "2f014d27-7b17-4a40-8adf-baeaa4f6c109",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Parse Marketing Response').item.json.socialPost }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -400
      ],
      "id": "1bcf55df-e29b-4943-b0e9-00f47d7eb63c",
      "name": "Send Generated Image to Telegram",
      "webhookId": "2f014d27-7b17-4a40-8adf-baeaa4f6c109",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all products from the input\nconst products = $input.all().map(item => item.json);\n\nif (products.length === 0) {\n  return { error: true, message: 'No products found' };\n}\n\n// Pick a random product\nconst randomIndex = Math.floor(Math.random() * products.length);\nconst randomProduct = products[randomIndex];\n\n// Get chatId from Store Market Context\nconst chatId = $('Store Market Context').item.json.chatId;\n\nreturn {\n  ...randomProduct,\n  _chatId: chatId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -16
      ],
      "id": "3a853721-7331-486c-a086-046767c5118c",
      "name": "Pick Random Product"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Processing your request. Please wait...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2848,
        752
      ],
      "id": "e4f42485-342f-4803-9675-177e9fd42e00",
      "name": "Send a text message",
      "webhookId": "7c57fdb4-0747-4940-b920-8302ceaccb95",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-generate-001"
        },
        "prompt": "={{ $json.VideoScript }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        736,
        -208
      ],
      "id": "892795ea-ddad-4a5d-9ec7-850700071917",
      "name": "Generate a video1",
      "credentials": {
        "googlePalmApi": {
          "id": "vyE1k8wAmLTyP2Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -208
      ],
      "id": "c51217a3-b294-4acc-ad09-a301c3c6c90c",
      "name": "Send a video",
      "webhookId": "cebb8a96-0dcc-46fb-932f-4a7ba407155c",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Store the context (chatId) before WooCommerce calls\nconst chatId = $json.chatId || 8430120206;\nconst param = $json.param || '';\nconst source = $json.source || 'unknown';\n\nreturn {\n  chatId,\n  param,\n  source,\n  hasParam: param !== ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        -112
      ],
      "id": "a21d848d-bafd-41d9-93ff-a7c3f137ee9d",
      "name": "Store Market Context"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "text": "=🎯 <b>Headline:</b>\n{{ $('Parse Marketing Response').item.json.headline }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -592
      ],
      "id": "7ef4c9b3-f4ba-4ac5-9879-3bc83d47a7e2",
      "name": "Send Headline",
      "webhookId": "e31da9fa-2067-4984-84f3-944e3e296c5e",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "text": "=📝 <b>Marketing Description:</b>\n{{ $('Parse Marketing Response').item.json.description }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -592
      ],
      "id": "f1d895a6-dfab-4d7e-91ec-4dd43f003119",
      "name": "Send Marketing Description",
      "webhookId": "17f47776-cb4a-4af6-b2e8-d612d5b1e400",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
        "text": "=📱 <b>Social Media Post:</b>\n{{ $('Parse Marketing Response').item.json.socialPost }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        -592
      ],
      "id": "54c3f412-e000-4afa-b025-75bb0d3e569e",
      "name": "Send Social Media Post",
      "webhookId": "88451b3b-915b-4fcf-bdd9-f5f92c855806",
      "credentials": {
        "telegramApi": {
          "id": "VVVfsF0zp9hQn8N8",
          "name": "Telegram account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Set Schedule Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schedule Context": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Store Market Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Extract Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Extract ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Extract ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Has ID?": {
      "main": [
        [
          {
            "node": "Market Get Specific",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Market Get Recent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Get Specific": {
      "main": [
        [
          {
            "node": "Prepare Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Get Recent": {
      "main": [
        [
          {
            "node": "Pick Random Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Data": {
      "main": [
        [
          {
            "node": "Product Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Valid?": {
      "main": [
        [
          {
            "node": "Check If Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Product Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Processed": {
      "main": [
        [
          {
            "node": "Not Processed Yet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Processed Yet?": {
      "main": [
        [
          {
            "node": "Prepare Gemini Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Marketing Content": {
      "main": [
        [
          {
            "node": "Parse Marketing Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Marketing Response": {
      "main": [
        [
          {
            "node": "AI Generation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generation OK?": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify AI Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Content to Telegram Raw Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate a video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Extract Params": {
      "main": [
        [
          {
            "node": "List Valid Param?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Valid Param?": {
      "main": [
        [
          {
            "node": "List Get Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Get Default (5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Get Products": {
      "main": [
        [
          {
            "node": "List Iterate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Get Default (5)": {
      "main": [
        [
          {
            "node": "List Iterate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Iterate": {
      "main": [
        [],
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "List Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Send to Telegram": {
      "main": [
        [
          {
            "node": "List Iterate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Extract ID": {
      "main": [
        [
          {
            "node": "Generate Has ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Has ID?": {
      "main": [
        [
          {
            "node": "Call Generate Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Missing ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extract ID": {
      "main": [
        [
          {
            "node": "Get Has ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Has ID?": {
      "main": [
        [
          {
            "node": "Get Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Missing ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product": {
      "main": [
        [
          {
            "node": "Get Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Request": {
      "main": [
        [
          {
            "node": "Generate Marketing Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Send Generated Image to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Content to Telegram Raw Content": {
      "main": [
        [
          {
            "node": "Send Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Product": {
      "main": [
        [
          {
            "node": "Prepare Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video1": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Market Context": {
      "main": [
        [
          {
            "node": "Market Has ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Headline": {
      "main": [
        [
          {
            "node": "Send Marketing Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Marketing Description": {
      "main": [
        [
          {
            "node": "Send Social Media Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "timezone": "Asia/Singapore"
  },
  "staticData": {
    "node:Daily Schedule": {
      "recurrenceRules": [
        8
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "05559989-1b7a-4743-875d-01ac1aac6347",
  "activeVersionId": "05559989-1b7a-4743-875d-01ac1aac6347",
  "versionCounter": 130,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-28T15:09:51.839Z",
      "createdAt": "2026-01-28T15:09:51.839Z",
      "role": "workflow:owner",
      "workflowId": "Rqp5DLzr1EltZIhD",
      "projectId": "OZpEMZrnioWDCJsC",
      "project": {
        "updatedAt": "2026-01-19T07:38:19.868Z",
        "createdAt": "2026-01-19T07:37:57.912Z",
        "id": "OZpEMZrnioWDCJsC",
        "name": "Lemuel Francisco <freelance.lemuelrfrancisco@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
        "projectRelations": [
          {
            "updatedAt": "2026-01-19T07:37:57.912Z",
            "createdAt": "2026-01-19T07:37:57.912Z",
            "userId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
            "projectId": "OZpEMZrnioWDCJsC",
            "user": {
              "updatedAt": "2026-02-04T08:46:31.302Z",
              "createdAt": "2026-01-19T07:37:57.337Z",
              "id": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c",
              "email": "freelance.lemuelrfrancisco@gmail.com",
              "firstName": "Lemuel",
              "lastName": "Francisco",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-19T07:38:36.482Z",
                "personalization_survey_n8n_version": "2.2.4",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VtHe_WtifdGUhlOw9NMlt",
                "userActivatedAt": 1768896964872,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769644632310
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-04T15:49:23.000Z",
    "createdAt": "2026-02-04T15:48:02.277Z",
    "versionId": "05559989-1b7a-4743-875d-01ac1aac6347",
    "workflowId": "Rqp5DLzr1EltZIhD",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -3296,
          656
        ],
        "id": "dc22ca94-bd36-4cd6-8e84-d36bf357f0e9",
        "name": "Telegram Trigger",
        "webhookId": "f96489a7-db8b-4d23-8bba-79be8369c86d",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2848,
          944
        ],
        "id": "d454646c-c05b-41a9-bdb1-51b31b57a290",
        "name": "Daily Schedule"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "user-check",
                "leftValue": 8430120206,
                "rightValue": "={{ $json.message.chat.id }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3072,
          656
        ],
        "id": "089e05a5-83e6-4a1c-be72-6ef64e50acb6",
        "name": "Validate User"
      },
      {
        "parameters": {
          "jsCode": "const text = $('Telegram Trigger').first().json.message.text?.toLowerCase() || '';\nconst parts = text.split(' ');\nconst command = parts[0];\nconst param = parts[1] || '';\nconst chatId = $('Telegram Trigger').first().json.message?.chat.id || 0;\n\nreturn {\n  command,\n  param,\n  chatId,\n  source: 'telegram'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2624,
          752
        ],
        "id": "c832f3c4-c5eb-4c32-b2db-63280f388fd9",
        "name": "Parse Command"
      },
      {
        "parameters": {
          "jsCode": "return {\n  command: 'market',\n  param: '',\n  chatId: 8430120206,\n  source: 'schedule'\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2624,
          944
        ],
        "id": "f85df3fe-b2f4-4fec-8abb-e02007ebbe97",
        "name": "Set Schedule Context"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "market",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "market-cmd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Market"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "list",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "list-cmd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "List"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "generate",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "generate-cmd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Generate"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "get",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "get-cmd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Get"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "help",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "help-cmd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Help"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2400,
          784
        ],
        "id": "7ca885c2-a685-42a8-b825-8e830775028e",
        "name": "Command Router"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-param",
                "leftValue": "={{ $json.hasParam }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1952,
          -112
        ],
        "id": "0eeff751-679e-415b-bb16-7514631ad8e8",
        "name": "Market Has ID?"
      },
      {
        "parameters": {
          "operation": "get",
          "productId": "={{ $('Store Market Context').item.json.param }}"
        },
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          -1504,
          -208
        ],
        "id": "7e792104-8751-4d4b-afcd-a78c94b1a78f",
        "name": "Market Get Specific",
        "credentials": {
          "wooCommerceApi": {
            "id": "uGpC30yt9WNfKtA1",
            "name": "WooCommerce account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          -1728,
          -16
        ],
        "id": "7ffa451a-9db1-43ef-af8e-08257e713e77",
        "name": "Market Get Recent",
        "credentials": {
          "wooCommerceApi": {
            "id": "uGpC30yt9WNfKtA1",
            "name": "WooCommerce account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const product = $json;\nconst chatId = product._chatId || 8430120206;\n\nif (!product || !product.id) {\n  return {\n    error: true,\n    errorMessage: 'Failed to fetch product data',\n    chatId\n  };\n}\n\nreturn {\n  error: false,\n  productId: product.id,\n  productName: product.name,\n  productDescription: product.description?.replace(/<[^>]*>/g, '') || '',\n  productShortDescription: product.short_description?.replace(/<[^>]*>/g, '') || '',\n  productPrice: product.price,\n  productRegularPrice: product.regular_price,\n  productSalePrice: product.sale_price,\n  productCategories: product.categories?.map(c => c.name).join(', ') || '',\n  productTags: product.tags?.map(t => t.name).join(', ') || '',\n  productImage: product.images?.[0]?.src || '',\n  productUrl: product.permalink,\n  chatId\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1280,
          -112
        ],
        "id": "9c612270-0bcc-4023-a290-e367d7bf9328",
        "name": "Prepare Product Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "no-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1056,
          -112
        ],
        "id": "f19f221c-0850-456f-bfaf-56e7db5f32e3",
        "name": "Product Valid?"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "Failed to fetch product. Please check the product ID and try again.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -832,
          -16
        ],
        "id": "aa54dbcb-a508-42d1-991c-8b1cc22d6a91",
        "name": "Notify Product Error",
        "webhookId": "c56b4ca2-691a-40e1-bf32-895f034d5eab",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ProcessedProducts",
            "mode": "name"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ProductID",
                "lookupValue": "={{ $json.productId }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -832,
          -208
        ],
        "id": "5e6ee40f-c565-43b4-ac2f-0c4e3c786f12",
        "name": "Check If Processed",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QrdVcRSV8DgAcNck",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "not-processed",
                "leftValue": "={{ $json.ProductID }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -608,
          -208
        ],
        "id": "ffbbf809-aaaf-401e-9746-e62d8d82c1c6",
        "name": "Not Processed Yet?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          -304
        ],
        "id": "d1388266-a9fa-4ccd-95b4-94b572038c71",
        "name": "Generate Marketing Content",
        "credentials": {
          "httpQueryAuth": {
            "id": "fxd1AYCxA3ZIgQAD",
            "name": "Gemini API Key"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const response = $json;\nconst productData = $('Prepare Gemini Request').item.json.productData;\n\n// Extract text from Gemini API response\nlet text = '';\ntry {\n  text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch (e) {\n  text = '';\n}\n\n// Check for AI generation error\nif (!text || $json.error) {\n  return {\n    error: true,\n    errorMessage: 'AI content generation failed',\n    productId: productData.productId,\n    productName: productData.productName,\n    chatId: productData.chatId\n  };\n}\n\nlet parsed;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    parsed = {\n      headline: 'Marketing Content Generated',\n      description: text,\n      socialPost: text.substring(0, 280),\n      videoScript: 'Please see the full description for video content ideas.',\n      imagePrompt: 'Product marketing image'\n    };\n  }\n} catch (e) {\n  parsed = {\n    headline: 'Marketing Content Generated',\n    description: text,\n    socialPost: text.substring(0, 280),\n    videoScript: 'Please see the full description for video content ideas.',\n    imagePrompt: 'Product marketing image'\n  };\n}\n\n// Ensure videoScript and imagePrompt are strings\nlet videoScript = parsed.videoScript;\nif (typeof videoScript === 'object') {\n  videoScript = JSON.stringify(videoScript, null, 2);\n}\n\nlet imagePrompt = parsed.imagePrompt;\nif (typeof imagePrompt === 'object') {\n  imagePrompt = JSON.stringify(imagePrompt, null, 2);\n}\n\nreturn {\n  error: false,\n  headline: parsed.headline || '',\n  description: parsed.description || '',\n  socialPost: parsed.socialPost || '',\n  videoScript: videoScript || '',\n  imagePrompt: imagePrompt || '',\n  productId: productData.productId,\n  productName: productData.productName,\n  productUrl: productData.productUrl,\n  productImage: productData.productImage,\n  chatId: productData.chatId\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          -304
        ],
        "id": "95384562-16d7-406d-9c0a-d8a327e308c9",
        "name": "Parse Marketing Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "no-ai-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          288,
          -304
        ],
        "id": "9fdf1810-db9e-4829-bfd0-01b3cef3ab5c",
        "name": "AI Generation OK?"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "AI content generation failed for product {{ $json.productName }} (ID: {{ $json.productId }}). Please try again later.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          512,
          -208
        ],
        "id": "f2bf8421-51b2-4834-82d4-99b14b705b43",
        "name": "Notify AI Error",
        "webhookId": "2bc8f648-17be-4f16-8fe0-d9e4fe407adb",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1k6dLR39LQqj7igNv5LhF34jm26zfXBx3XpwC_Ld0yVw",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ProcessedProducts",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ProductID": "={{ $('Parse Marketing Response').item.json.productId }}",
              "ProductName": "={{ $('Parse Marketing Response').item.json.productName }}",
              "ProcessedAt": "={{ $now.toISO() }}",
              "Headline": "={{ $('Parse Marketing Response').item.json.headline }}",
              "Description": "={{ $('Parse Marketing Response').item.json.description }}",
              "SocialPost": "={{ $('Parse Marketing Response').item.json.socialPost }}",
              "VideoScript": "={{ JSON.stringify($('Parse Marketing Response').item.json.videoScript) }}",
              "ImagePrompt": "={{ JSON.stringify($('Parse Marketing Response').item.json.imagePrompt) }}",
              "ProductURL": "={{ $('Parse Marketing Response').item.json.productUrl }}",
              "DateTimeCreated": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ProductID",
                "displayName": "ProductID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ProductName",
                "displayName": "ProductName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ProcessedAt",
                "displayName": "ProcessedAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Headline",
                "displayName": "Headline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Description",
                "displayName": "Description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "SocialPost",
                "displayName": "SocialPost",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VideoScript",
                "displayName": "VideoScript",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ImagePrompt",
                "displayName": "ImagePrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ProductURL",
                "displayName": "ProductURL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DateTimeCreated",
                "displayName": "DateTimeCreated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          512,
          -400
        ],
        "id": "3f78c31c-91c0-4173-bdaa-8e5d061500d9",
        "name": "Save to Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "QrdVcRSV8DgAcNck",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare Product Data').item.json.chatId }}",
          "text": "=⚠️ Product ID {{ $('Prepare Product Data').item.json.productId }} ({{ $('Prepare Product Data').item.json.productName }}) has already been processed. Skipping to avoid duplicate content.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -384,
          -112
        ],
        "id": "f1faada7-b896-4fbe-8ed2-e4c08540e523",
        "name": "Notify Already Processed",
        "webhookId": "818b38eb-2d18-49c7-9a79-4af2203c96be",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const param = $json.param;\nconst isGetAll = param === 'all';\nconst items = param !== 'all' && Number(param) ? param : '';\n\nreturn { isGetAll, items, chatId: $json.chatId };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          272
        ],
        "id": "de27d0b9-0403-4825-ae8a-797548871efd",
        "name": "List Extract Params"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-items",
                "leftValue": "={{ $json.items }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "is-get-all",
                "leftValue": "={{ $json.isGetAll }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1952,
          272
        ],
        "id": "fd4fff42-a5f7-4eee-b2f0-36988ef33758",
        "name": "List Valid Param?"
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": "={{ $json.isGetAll }}",
          "limit": "={{ $json.items || 5 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          -1728,
          176
        ],
        "id": "1080c054-7831-4757-9a88-b77dced88734",
        "name": "List Get Products",
        "credentials": {
          "wooCommerceApi": {
            "id": "uGpC30yt9WNfKtA1",
            "name": "WooCommerce account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 5,
          "options": {}
        },
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          -1728,
          368
        ],
        "id": "d2b5d1e2-f55c-40b6-ad71-10d0a7b163d6",
        "name": "List Get Default (5)",
        "credentials": {
          "wooCommerceApi": {
            "id": "uGpC30yt9WNfKtA1",
            "name": "WooCommerce account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1504,
          272
        ],
        "id": "db343eeb-a6ba-4783-b8e8-b5c5e59823d3",
        "name": "List Iterate"
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1280,
          176
        ],
        "id": "3cb58b7c-3370-474b-84a0-dff5e689794c",
        "name": "Rate Limit Delay",
        "webhookId": "rate-limit-webhook"
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Command').item.json.chatId }}",
          "text": "=<strong>{{ $json.id }}</strong> - {{ $json.status }}\n{{ $json.name }}\n\n{{ $json.permalink }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1056,
          272
        ],
        "id": "5a4e518c-5016-4896-b830-c6799360d64f",
        "name": "List Send to Telegram",
        "webhookId": "5467f03c-bce7-4ec3-8bc4-3104259d9528",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const param = $json.param;\nconst productId = param || '';\nconst chatId = $json.chatId;\n\nreturn { productId, chatId };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          656
        ],
        "id": "c1e0f0dd-78c5-4b2a-aef3-40cd1691866e",
        "name": "Generate Extract ID"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-product-id",
                "leftValue": "={{ $json.productId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1952,
          656
        ],
        "id": "c590e044-9d76-4b65-a9b9-43c9755d5c1b",
        "name": "Generate Has ID?"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "Please provide a product ID. Usage: <code>generate [product_id]</code>",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1728,
          752
        ],
        "id": "257edd33-84f3-4450-ac82-437e865e398d",
        "name": "Generate Missing ID",
        "webhookId": "bab567c6-e09d-4333-86ca-d8b757a25931",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "VtHe_WtifdGUhlOw9NMlt",
            "mode": "list",
            "cachedResultUrl": "/workflow/VtHe_WtifdGUhlOw9NMlt",
            "cachedResultName": "SUB:Get and Generate by Product ID"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "productId": "={{ $json.productId }}",
              "chatId": "={{ $json.chatId }}"
            },
            "matchingColumns": [
              "productId"
            ],
            "schema": [
              {
                "id": "productId",
                "displayName": "productId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chatId",
                "displayName": "chatId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1728,
          560
        ],
        "id": "b4214c8d-23f2-434f-84e4-38a8bc9b5358",
        "name": "Call Generate Sub-Workflow"
      },
      {
        "parameters": {
          "jsCode": "const param = $json.param;\nconst productId = param || '';\nconst chatId = $json.chatId;\n\nreturn { productId, chatId };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          1040
        ],
        "id": "8dfe3398-9b77-4e20-ac35-3c29c7e5134c",
        "name": "Get Extract ID"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-get-id",
                "leftValue": "={{ $json.productId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1952,
          1040
        ],
        "id": "3a50eb09-91a9-4b0b-995d-60400d2feb03",
        "name": "Get Has ID?"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "Please provide a product ID. Usage: <code>get [product_id]</code>",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1728,
          1136
        ],
        "id": "489bd9c4-b60a-4290-a833-6696e1526444",
        "name": "Get Missing ID",
        "webhookId": "52b48ec9-29c6-401d-8717-9bb731635d25",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "productId": "={{ $json.productId }}"
        },
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          -1728,
          944
        ],
        "id": "c4df2464-50af-4bd3-8c75-c72d2f9275ba",
        "name": "Get Product",
        "credentials": {
          "wooCommerceApi": {
            "id": "uGpC30yt9WNfKtA1",
            "name": "WooCommerce account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Command').item.json.chatId }}",
          "text": "=<strong>{{ $json.id }}</strong> - {{ $json.status }}\n{{ $json.name }}\n\n{{ $json.permalink }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1504,
          944
        ],
        "id": "bb2479df-98c6-4407-8fd1-12ac5524551a",
        "name": "Get Send to Telegram",
        "webhookId": "99e212fd-c204-4826-8647-aeb90751038b",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "📋 <b>Bot Commands:</b>\n\n<b>Marketing:</b>\n<code>market</code> - Generate marketing for 5 recent products\n<code>market [ID]</code> - Generate marketing for specific product\n\n<b>Products:</b>\n<code>list</code> - List 5 recent products\n<code>list [N]</code> - List N products\n<code>list all</code> - List all products\n<code>get [ID]</code> - Get specific product details\n\n<b>Content Generation:</b>\n<code>generate [ID]</code> - Generate content via sub-workflow\n\n<code>help</code> - Show this help message\n\n💡 Products are tracked to avoid duplicate marketing generation.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2176,
          1232
        ],
        "id": "f5879e20-bf1f-4283-beb3-9fbbccffc7fb",
        "name": "Send Help",
        "webhookId": "4d35c3ca-8087-4778-8c1b-a2a779525b9a",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "❓ Unknown command. Type <code>help</code> to see available commands.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2176,
          1424
        ],
        "id": "0c5214eb-651e-499e-a901-4e94a2f6f5e2",
        "name": "Unknown Command",
        "webhookId": "1ec49f22-d599-4470-aa9e-3b1147787648",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "❌ Invalid user. Access denied.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2848,
          560
        ],
        "id": "d8fb45e3-f1ee-4620-afb3-7876111071a7",
        "name": "Invalid User",
        "webhookId": "84375d0d-b152-4563-a328-74d96ae1e2a3",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "content": "## WooCommerce Marketing Generator\n\n### Triggers:\n- **Telegram**: Multiple commands\n- **Schedule**: Runs daily automatically\n\n### Commands:\n- **market** - AI marketing generation\n- **list** - List products\n- **get** - Get product details\n- **generate** - Call sub-workflow\n- **help** - Show commands\n\n### v2 Improvements:\n- Error handling on all API nodes\n- Missing ID fallback messages\n- Rate limiting for Telegram\n- Unknown command handler\n- Product validation checks\n- Configurable user ID (see Config note)",
          "height": 380,
          "width": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3248,
          -432
        ],
        "id": "e35cc001-ff51-48cf-a343-67215246cdc2",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Marketing Flow\n\n1. Get product(s) from WooCommerce\n2. Validate product data\n3. Check if already processed\n4. Generate AI content (Gemini API)\n5. Validate AI response\n6. Save to Google Sheets\n7. Send to Telegram\n\n**Note:** Image generation removed\n(requires AI nodes package)",
          "height": 240,
          "width": 280
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2048,
          -544
        ],
        "id": "6b1e17d2-813a-4d3a-8c65-b4e3908243a0",
        "name": "Marketing Flow Note"
      },
      {
        "parameters": {
          "content": "## Error Handling\n\nAll WooCommerce, Google Sheets, and Gemini API nodes have `onError: continueRegularOutput` to prevent workflow crashes.\n\nError notifications are sent to Telegram for:\n- Failed product fetches\n- AI generation failures",
          "height": 200,
          "width": 280
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -544,
          -704
        ],
        "id": "e0cf7ee0-2159-481c-9b13-4f8dd749b7e4",
        "name": "Error Handling Note"
      },
      {
        "parameters": {
          "content": "## Configuration\n\n**Authorized Telegram User ID:**\n`8430120206`\n\n**Gemini API Setup (REQUIRED):**\n1. Get API key from https://aistudio.google.com/apikey\n2. In n8n Credentials, create new:\n   - Type: \"Query Auth\"\n   - Name: \"Gemini API Key\"\n   - Name field: `key`\n   - Value field: Your API key\n3. Assign to \"Generate Marketing Content\" node\n\n**User ID Config:**\nTo change authorized user, update:\n1. **Validate User** - IF condition leftValue\n2. **Set Schedule Context** - chatId in Code",
          "height": 300,
          "width": 300,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2864,
          -400
        ],
        "id": "cb3082de-7a48-41b5-8bcb-44e665412c6c",
        "name": "Configuration"
      },
      {
        "parameters": {
          "jsCode": "const productData = $('Prepare Product Data').item.json;\n\nconst prompt = `You are a Rockstar and expert Digital Marketing specialist. Create compelling marketing content for this WooCommerce product:\n\n**Product Name:** ${productData.productName}\n**Description:** ${productData.productDescription}\n**Price:** ${productData.productPrice}\n**Categories:** ${productData.productCategories}\n**Tags:** ${productData.productTags}\n\nGenerate the following:\n\n1. **MARKETING HEADLINE** (max 60 characters, attention-grabbing)\n2. **MARKETING DESCRIPTION** (150-200 words, persuasive, highlights benefits, includes call-to-action)\n3. **SOCIAL MEDIA POST** (for Facebook/Instagram, with relevant emojis and hashtags)\n4. **VIDEO SCRIPT** (30-second promotional video script with scenes and no voiceover and no text in video)\n5. **IMAGE PROMPT** (detailed prompt for AI image generation showing the product in an appealing marketing context)\n\nFormat your response as JSON with keys: headline, description, socialPost, videoScript, imagePrompt`;\n\nreturn {\n  requestBody: {\n    contents: [{\n      parts: [{\n        text: prompt\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.8,\n      maxOutputTokens: 2048\n    }\n  },\n  productData: productData\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          -304
        ],
        "id": "414a46e3-cb9d-43f9-bc90-e4d6ad1272c5",
        "name": "Prepare Gemini Request"
      },
      {
        "parameters": {
          "resource": "image",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash-image",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
          },
          "prompt": "={{ $('Parse Marketing Response').item.json.imagePrompt }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          736,
          -400
        ],
        "id": "209e324b-1be4-4724-bfb9-edec3b3aa224",
        "name": "Generate an image",
        "credentials": {
          "googlePalmApi": {
            "id": "vyE1k8wAmLTyP2Z7",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "text": "=🚀 <b>MARKETING CONTENT GENERATED</b> 🚀\n\n📦 <b>Product:</b> {{ $('Parse Marketing Response').item.json.productName }}\n\n🔗 <b>Product URL:</b> {{ $('Parse Marketing Response').item.json.productUrl }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          736,
          -592
        ],
        "id": "0fa71359-b88e-4796-9173-b26dea1033a9",
        "name": "Send Content to Telegram Raw Content",
        "webhookId": "2f014d27-7b17-4a40-8adf-baeaa4f6c109",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "binaryData": true,
          "additionalFields": {
            "caption": "={{ $('Parse Marketing Response').item.json.socialPost }}",
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          -400
        ],
        "id": "1bcf55df-e29b-4943-b0e9-00f47d7eb63c",
        "name": "Send Generated Image to Telegram",
        "webhookId": "2f014d27-7b17-4a40-8adf-baeaa4f6c109",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all products from the input\nconst products = $input.all().map(item => item.json);\n\nif (products.length === 0) {\n  return { error: true, message: 'No products found' };\n}\n\n// Pick a random product\nconst randomIndex = Math.floor(Math.random() * products.length);\nconst randomProduct = products[randomIndex];\n\n// Get chatId from Store Market Context\nconst chatId = $('Store Market Context').item.json.chatId;\n\nreturn {\n  ...randomProduct,\n  _chatId: chatId\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1504,
          -16
        ],
        "id": "3a853721-7331-486c-a086-046767c5118c",
        "name": "Pick Random Product"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "Processing your request. Please wait...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2848,
          752
        ],
        "id": "e4f42485-342f-4803-9675-177e9fd42e00",
        "name": "Send a text message",
        "webhookId": "7c57fdb4-0747-4940-b920-8302ceaccb95",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "video",
          "modelId": {
            "__rl": true,
            "value": "models/veo-3.0-generate-001",
            "mode": "list",
            "cachedResultName": "models/veo-3.0-generate-001"
          },
          "prompt": "={{ $json.VideoScript }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          736,
          -208
        ],
        "id": "892795ea-ddad-4a5d-9ec7-850700071917",
        "name": "Generate a video1",
        "credentials": {
          "googlePalmApi": {
            "id": "vyE1k8wAmLTyP2Z7",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "sendVideo",
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          -208
        ],
        "id": "c51217a3-b294-4acc-ad09-a301c3c6c90c",
        "name": "Send a video",
        "webhookId": "cebb8a96-0dcc-46fb-932f-4a7ba407155c",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// Store the context (chatId) before WooCommerce calls\nconst chatId = $json.chatId || 8430120206;\nconst param = $json.param || '';\nconst source = $json.source || 'unknown';\n\nreturn {\n  chatId,\n  param,\n  source,\n  hasParam: param !== ''\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          -112
        ],
        "id": "a21d848d-bafd-41d9-93ff-a7c3f137ee9d",
        "name": "Store Market Context"
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "text": "=🎯 <b>Headline:</b>\n{{ $('Parse Marketing Response').item.json.headline }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          -592
        ],
        "id": "7ef4c9b3-f4ba-4ac5-9879-3bc83d47a7e2",
        "name": "Send Headline",
        "webhookId": "e31da9fa-2067-4984-84f3-944e3e296c5e",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "text": "=📝 <b>Marketing Description:</b>\n{{ $('Parse Marketing Response').item.json.description }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1184,
          -592
        ],
        "id": "f1d895a6-dfab-4d7e-91ec-4dd43f003119",
        "name": "Send Marketing Description",
        "webhookId": "17f47776-cb4a-4af6-b2e8-d612d5b1e400",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Marketing Response').item.json.chatId }}",
          "text": "=📱 <b>Social Media Post:</b>\n{{ $('Parse Marketing Response').item.json.socialPost }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1408,
          -592
        ],
        "id": "54c3f412-e000-4afa-b025-75bb0d3e569e",
        "name": "Send Social Media Post",
        "webhookId": "88451b3b-915b-4fcf-bdd9-f5f92c855806",
        "credentials": {
          "telegramApi": {
            "id": "VVVfsF0zp9hQn8N8",
            "name": "Telegram account"
          }
        },
        "disabled": true
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Validate User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Schedule": {
        "main": [
          [
            {
              "node": "Set Schedule Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate User": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Invalid User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Command": {
        "main": [
          [
            {
              "node": "Command Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Schedule Context": {
        "main": [
          [
            {
              "node": "Command Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Command Router": {
        "main": [
          [
            {
              "node": "Store Market Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "List Extract Params",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Extract ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Extract ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Help",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unknown Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Market Has ID?": {
        "main": [
          [
            {
              "node": "Market Get Specific",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Market Get Recent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Market Get Specific": {
        "main": [
          [
            {
              "node": "Prepare Product Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Market Get Recent": {
        "main": [
          [
            {
              "node": "Pick Random Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Product Data": {
        "main": [
          [
            {
              "node": "Product Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Product Valid?": {
        "main": [
          [
            {
              "node": "Check If Processed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Product Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Processed": {
        "main": [
          [
            {
              "node": "Not Processed Yet?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Processed Yet?": {
        "main": [
          [
            {
              "node": "Prepare Gemini Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Already Processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Marketing Content": {
        "main": [
          [
            {
              "node": "Parse Marketing Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Marketing Response": {
        "main": [
          [
            {
              "node": "AI Generation OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Generation OK?": {
        "main": [
          [
            {
              "node": "Save to Google Sheets",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify AI Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Google Sheets": {
        "main": [
          [
            {
              "node": "Generate an image",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Content to Telegram Raw Content",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate a video1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Extract Params": {
        "main": [
          [
            {
              "node": "List Valid Param?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Valid Param?": {
        "main": [
          [
            {
              "node": "List Get Products",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "List Get Default (5)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Get Products": {
        "main": [
          [
            {
              "node": "List Iterate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Get Default (5)": {
        "main": [
          [
            {
              "node": "List Iterate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Iterate": {
        "main": [
          [],
          [
            {
              "node": "Rate Limit Delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rate Limit Delay": {
        "main": [
          [
            {
              "node": "List Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Send to Telegram": {
        "main": [
          [
            {
              "node": "List Iterate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Extract ID": {
        "main": [
          [
            {
              "node": "Generate Has ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Has ID?": {
        "main": [
          [
            {
              "node": "Call Generate Sub-Workflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Missing ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Extract ID": {
        "main": [
          [
            {
              "node": "Get Has ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Has ID?": {
        "main": [
          [
            {
              "node": "Get Product",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Missing ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Product": {
        "main": [
          [
            {
              "node": "Get Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gemini Request": {
        "main": [
          [
            {
              "node": "Generate Marketing Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate an image": {
        "main": [
          [
            {
              "node": "Send Generated Image to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Content to Telegram Raw Content": {
        "main": [
          [
            {
              "node": "Send Headline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Random Product": {
        "main": [
          [
            {
              "node": "Prepare Product Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Parse Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate a video1": {
        "main": [
          [
            {
              "node": "Send a video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Market Context": {
        "main": [
          [
            {
              "node": "Market Has ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Headline": {
        "main": [
          [
            {
              "node": "Send Marketing Description",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Marketing Description": {
        "main": [
          [
            {
              "node": "Send Social Media Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lemuel Francisco",
    "name": "Version 05559989",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-04T15:49:23.792Z",
        "id": 56,
        "workflowId": "Rqp5DLzr1EltZIhD",
        "versionId": "05559989-1b7a-4743-875d-01ac1aac6347",
        "event": "activated",
        "userId": "38f71c9d-2cc5-453b-8284-e3d5eb508e7c"
      }
    ]
  }
}